/*======================
   01. Google fonts
========================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*======================
   02. Basic css
========================*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
}

body {
	line-height: 26px;   
	font-size: 15px;
	background: linear-gradient(180deg, #23273A 46.35%, #FA4A6F 119.01%);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Inter', sans-serif;
}
 
ol,
ul {
	list-style: none;
}

a:hover {
	text-decoration: none;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

.shop_wrapper {
	padding: 80px 0;
}

.shop_img {
	border-radius: 10px;
	background: #FFF5E4;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px;
	margin-right: 20px;
}

.shop_text {
	border-bottom: 1px solid #D6D6D6;
	padding: 20px 0;
}

.shop_text h2 {
	font-size: 32px;
	font-weight: 700;
	color: #ffffff;
}

.mt_10 {
	margin-top: 10px;
}

.review_text {
	font-size: 13px;
	font-weight: 500;
	margin-left: 10px;
}
 
.shop_text h3 {
	color: #EC3384;
	font-size: 20px;
	font-weight: 600;
}

.shop_text h4 {
	color: #ffffff;
	font-size: 20px;
}

.shop_color p {
	margin-right: 20px;
}

.shop_color span {
	width: 16px;
	height: 16px;
	display: inline-flex;
	border-radius: 4px;
	margin-right: 5px;
}

.color1 {
	background: #F00;
}

.color2 {
	background: gray;
}

.color3 {
	background: blue;
}

.color4 {
	background: green;
}

.buy_btn {
    padding: 5px 30px;
    border-radius: 53px;
    background: #EC3384;
    color: #ffffff;
    display: inline-flex;
    transition: .3s;
}

.buy_btn:hover {
	color: #ffffff;
	background: #b72062;
}